# Configurações do Banco de Dados PostgreSQL
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=istock_db
DB_PORT=5433

# Configurações da API Backend
API_PORT=3000

# Configurações do Adminer (Interface Web)
ADMINER_PORT=8080
